:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: gold;
  color: #222;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

p {
  font-size: 1.125rem;
}

a {
  color: rgb(9, 133, 182);
  text-decoration: none;
}

code {
  padding: 0.1em 0.25em;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  /* color: #333;  */
}

code.highlight-environment {
  padding: 0.2rem 0.4rem;
  background: rgb(29, 191, 255);
  color:  rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: 600;
}