:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: ghostwhite;
  color: #222;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

p {
  font-size: 1.125rem;
}

code {
  /* font-family: 'Courier New', Courier, monospace; */
  background: #cccccc;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1.25rem;
  color: #333;
}